{% extends "base.html" %}
{% block title %}Challenges{% endblock %}

{% block head %}
    {{ super() }}

    <script>

    $(document).ready(function(){

    {% for html, jquery in challenges %}

        {{ jquery }}

    {% endfor %}


    });

    </script>

{% endblock %}


{% block content %}

<h1> Challenges</h1>

    Here you will find challenges and their solutions.



{% for body_html, jq in challenges %}

    {{ body_html }}

{% endfor %}



<h2> Find number of vowels </h2>

<h2> 10 elefantes </h2>

<h2> Pinta una progresión aritmética. </h2>

<h2> Simula un dado </h2>

<h2> El mediano de una lista </h2>



{% endblock %}
