{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block content %}

<h1> The Compy Project - Index</h1>

<p> The Compy Project is an personal project of a father of four,
    who learned programming with a Commodore Vic-20 and, much later,
    fell in love with python. </p>

<p> The Compy Project aims to blend the beautiful, colorful and easy
    screen familiar to Commodore users with the elegant syntax of python.</p>

<p> To start, check how to install it, then run the examples, and then, and only then, try the challenges. </p>

<p><a href="install.html">   Installation and running </a></p>

<p><a href="lesson01.html">   Lessons </a></p>

<p><a href="colors.html">  Colors in Compy </a></p>

<p><a href="keys.html">  Keys in Compy </a></p>

<p><a href="chars.html">  Chars in Compy </a></p>

{% endblock %}

