{% extends "base.html" %}

{% block title %}Install Compy{% endblock %}

{% block content %}


<h1>Installation</h1>

To install Compy you need these things:
<ul>
    <li> Python 2.7 running in your system (to check if you have it, open a terminal and type <code>python</code>,
       it should open a python console </li>
    <li> A python library called WxPython, check if you have it typing <code>import wx</code> in the python console</li>
    <li> Some other python libraries: jinja2, </li>
    <li> The Compy program </li>
</ul>

<p>To run compy, just open a terminal in the compy directory and type: </p>

<pre class="code">

    <code>$ pythonw hello_world.py.</code>

</pre>

<p> Important: If you don't know what I'm talking about, don't worry,
    just find someone who is more into computers and ask him or her
    to set things up for you </p>

{% endblock %}
