{% extends "base.html" %}
{% block title %}Commands{% endblock %}

{% block content %}

<h1> Commands - The Compy Project</h1>

<p> In this page you can find the whole list of commands used
    to program in Compy.</p>


<h2> sc.printf </h2>



<pre class="code"> <code>

    # Simple print
    sc.printf('Hello')

    # Print on a different color
    sc.printf('Hello', color='black')

    # Colors can be chosen by numbers
    sc.printf('Hello', color=4)

    sc.printf('Hello, ', stay=True)

    sc.printf('partner!', color=0)

    sc.printf()

    sc.printf('Hello', reverse = True)

    sc.printf('Hello, or better...', color='light-green', reverse=True, stay=True)

    sc.printf('Good bye!!!')

</code> </pre>


{% endblock %}
