{% extends "base.html" %}
{% block title %}Examples{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block content %}


<h1> Examples</h1>

    <p> Here we show examples of the commands you can
    issue to the Compy screen.</p>

<h2>Print "Hello world"</h2>

    <h3>Result:</h3>

    <p> <img src="img/print_hello_world.png" alt="" /> </p>

    <h3>Code of 'print_hello_world.py':</h3>

    <pre class="code"> <code> {% include 'temp/print_hello_world.html' %} </code> </pre>

    <hr/>


<h2>sc.printf options</h2>

    <h3>Result:</h3>

    <p> <img src="img/printf_options.png" alt="" /> </p>

    <h3>Code of 'printf_options.py':</h3>

    <pre class="code"> <code> {% include 'temp/printf_options.html' %} </code> </pre>

    <hr/>




{% endblock %}
